.add-service-form {
 display: flex;
 flex-direction: column;
}

.add-form-input-field {
 margin-top: 1em;
 /* border: none; */
 border-radius: 5px;
 border: none;
 box-shadow: inset 1px 1px 6px 1px rgba(221, 33, 8, 0.274);
 padding: 0.5em 2em;
}
.add-form-input-field:focus {
 outline: none;
 border: 1px solid rgba(212, 25, 25, 0.747);
}
